<section class="product-row">
        <div class="product">
            <p class="product-tag">New</p>
            <img src="img/bag.jpeg" alt="bag">
            <p class="product-name">Dior Bag</p>
            <p class="product-price">$2,200.00</p>
        </div>

        <div class="product">
            <p class="product-tag">New</p>
            <img src="img/glasses.jpeg" alt="glasses">
            <p class="product-name">Mavka Hoodie</p>
            <p class="product-price">$1,850.00</p>
        </div>

        <div class="product">
            <p class="product-tag">New</p>
            <img src="img/sweater.jpeg" alt="sweater">
            <p class="product-name">Knit Sweater</p>
            <p class="product-price">$2,950.00</p>
        </div>
    </section>